#main-container {
    padding-left: 100px;
}

#main-container > h1 {
    color: grey;
    font-weight: normal;
    padding-left: 400px;
}

#main-container .searchAndPaginationTools{
	padding-left: 400px;
}

.movie-list-wrapper{
    text-align: center;
}

.hide-if-error{
    display: none;
}

.this-style {
    height: 100px;
    width: 50px;
}

.errorMessage {
    color: red;
    font-size: 14px;
}

.numeric-input-50 {
    width: 50px;
}

.table-row {
    width: 100px;
    text-align: center;
}

.table-row-actors{
	width: 850px;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
