<ul class="pagination">
    <li class="{{pagination.hasPrevious()?'':'disabled'}}"><a href="" ng-click="pagination.previous()">&laquo;</a></li>
    <li ng-show="pagination.hasPrevious()"><a href="">{{pagination.current() - 1}}</a></li>
    <li ng-hide="pagination.hasPrevious()"><span>&nbsp;</span></li>
    <li class="active"><a href="">{{pagination.current()}}</a></li>
    <li ng-show="pagination.hasNext()"><a href="">{{pagination.current() + 1}}</a></li>
    <li class="{{pagination.hasNext()?'':'disabled'}}"><a href="" ng-click="pagination.next()">&raquo;</a></li>
</ul>
